<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>
<table class="users_table">
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td>
      <% if user.introduction? %>
        <%= user.introduction %>
      <% end %>
    </td>
  </tr>
</table>

<% if user == current_user %>
  <%= link_to "編集", edit_user_path(user), class: 'btn btn-default' %>
<% else %>
  <%= link_to "編集", user_path(current_user), class: 'btn btn-default' %>
<% end %>

<h2>New book</h2>
<%= form_with model: book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Option</p>
  <%= f.text_area :body %>
  <div><%= f.submit 'Create Book' %></div>
<% end %>